@using ShishaProject.Services.Data.Models.Dtos

@model ProductsFlavoursDto

<div class="hero-section">
    <div class="text-container">
        <h1>The Shop</h1>
        <p>Home / Shop</p>
    </div>
</div>

<partial name="_SearchBar" />

<!-- Products page -->
<div class="products-container">
    <!-- Filters on the top -->
    <partial name="Filters/_SortFilter" />

    <!-- Filters on the left -->
    <div class="filters-left">
        <h2 id="filter-menu-button">Filters <button><img src="../assets/icons/filters.svg" alt="Click to filter!"></button></h2>

        <form id="filters-menu" autocomplete="off">
            <!-- Filter - price -->
            <partial name="Filters/_PriceFilter" />

            <!-- Filter - brand -->
            <partial name="Filters/_BrandFilter" />

            <!-- Filter - flavor -->
            <partial name="Filters/_FlavourFilter" />

            <!-- Filter - packaging -->
            <partial name="Filters/_PackagingFilter" />

            <!-- Filter - stock -->
            <partial name="Filters/_StockFilter" />
        </form>
    </div>

    @await Html.PartialAsync("_Flavours", Model)
</div>
