  <!-- Cart page -->
<div class="cart-container" id="cart-container">
    <h2>Your cart</h2>

    <div class="cart-sections">
        <div class="cart-item-container">
            <p class="cart-item-empty">Your cart is empty.</p>
        </div>
    </div>
</div>

