

.action-section {
  display: flex;
  flex-direction: column;
  padding: 180px 0;
  margin: 0 auto;
  align-items: center;

  h2 {
    font-size: 70px;
    font-family: 'Yeseva One', sans-serif;
    font-weight: normal;
    max-width: 770px;
    text-align: center;
    line-height: 1;

    margin-bottom: 30px;
  }

  hr {
    width: 100px;
    border: none;
    border-top: 2px solid $primary;
  }

  p {
    margin: 30px 0;
    font-size: 16px;
    color: $text-dark;
    max-width: 580px;
    text-align: center;
  }

  a {
    text-decoration: none;
    padding: 20px 60px;
    background-color: $secondary;
    color: $text-light;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid $primary;

    &:hover {
      background-color: $primary;
    }
  }
}