.auth-form-container {
    max-width: 735px;
    margin: 60px auto;
    padding: 0 30px;

    form {
        display: flex;
        flex-direction: column;
        padding: 30px;
        border-radius: 25px;
        background-color: $text-light;
        color: $secondary;
        box-shadow: 1px 1px 3px #bbc6cc;

        h2 {
            font-size: 50px;
            line-height: 50px;
            padding-bottom: 15px;
            border-bottom: 2px solid $primary;
            text-align: center;
        }

        label, input, label p {
            font-size: 16px;
        }

        label {
            display: flex;
            flex-direction: column;
            margin-top: 30px;

            p {
                font-weight: bold;

                span {
                    font-weight: normal;
                    margin-left: 5px;
                    color: $error;
                }
            }
        }

        input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid $primary;
            color: $text-dark;
            margin-top: 5px;
            padding-left: 7.5px;

            &:focus {
                outline: transparent;
                border-bottom: 2px solid $primary;
            }
        }

        textarea {
            border: none;
            margin-top: 5px;
            margin-left: 7.5px;
            border-bottom: 2px solid $primary;
        }

        button {
            padding: 20px;
            width: 100%;
            border: none;
            background-color: $secondary;
            color: $text-light;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            max-width: 250px;
            margin: 30px auto 0;
            border-bottom: 2px solid $primary;

            &:hover {
                background-color: $primary;
            }
        }

        .login-helpful-links-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin: 15px 0;

            &.login-helpful-links-container-one {
                justify-content: flex-end;
            }

            a {
                color: $primary;
                text-underline-offset: 2px;

                &:hover {
                    color: darken($primary, 15%);
                }
            }
        }
    }
}
