// Header
header {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  height: 125px;
  min-height: 125px;
  max-height: 125px;

  &.header-sticky {
    position: sticky;
    background-color: $secondary;
    margin-top: -125px;

    transition: background-color 0.25s;
  }

  // Center navigation
  nav {
    max-width: 970px;

    .mobile-navigation {
      display: none;

      a {
        display: inline-block;
        padding: 0;
        margin: 0 30px 0 0;
        background-color: $primary;
        height: 125px;

        img {
          width: 100px;
          max-height: 125px;
          padding: 15px 50px;
          box-sizing: content-box;
        }

        &:hover {
          background-color: darken($primary, 15%);
        }
      }

      button {
        border: none;
        background-color: $primary;
        padding: 10px;
        cursor: pointer;
        display: flex;
        align-items: center;
        
        img {
          height: 20px;
          width: 20px;
        }

        &:hover {
          background-color: darken($primary, 15%);
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;
  
      li {
        a {
          padding: 30px;
          font-size: 18px;
          font-weight: bold;
          text-decoration: none;
          color: $text-light;
  
          &:hover {
            color: $primary;
            text-decoration: underline;
            text-underline-offset: 10px;
          }
        }
  
        &.active {
          a {
            color: $primary;
            text-decoration: underline;
            text-underline-offset: 10px;
          }
        }
  
        &.logo {
          margin: 0 30px;
          background-color: $primary;
          height: 125px;
          
          a {
            display: inline-block;
            padding: 0;
  
            img {
              width: 100px;
              max-height: 125px;
              padding: 15px 50px;
              box-sizing: content-box;
            }
          }
  
          &:hover {
            background-color: darken($primary, 15%);
          }
        }
      }
    }
  }

  // Cart on the right
  .cart-section-container {
    position: absolute;
    right: 0;
    top: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-right: 60px;
    text-decoration: none;

    span {
      font-size: 16px;
    }
      
    .cart-icon-container {
      display: flex;
      align-items: center;
      margin-right: 5px;
      color: $primary;

      img {
          width: 20px;
          height: 20px;
          margin-right: 5px;
      }

      img:last-of-type {
        display: none;
      }
    }

    .cart-item-container {
      color: $text-light;
    }

    &:hover {
      .cart-icon-container {
        color: darken($primary, 15%);

        img {
          &:first-child {
            display: none;
          }
    
          &:last-of-type {
            display: block;
          }
        }
      }

      .cart-item-container {
        color: darken($text-light, 15%);
      }
    }
  }
  
  // Mobile responsiveness
  @media (max-width: 1150px) {
    justify-content: start;
    
    nav {
      .mobile-navigation {
        display: flex;
        align-items: center;
        background-color: $secondary;
        padding-right: 30px;
      }

      ul {
        display: none;
        flex-direction: column;
        background-color: $secondary;
        padding-bottom: 20px;
        border-bottom: 2px solid $primary;

        li {
          padding: 20px 0 0;
        }

        .logo {
          display: none;
        }
      }
    }
  }

  @media (max-width: 500px) {
    flex-wrap: wrap;
    max-width: 300px;

    .cart-section-container {
      position: relative;
      top: 0;
      margin: 0;
      padding: 20px;
      width: 100%;
      background-color: $secondary;
      justify-content: center;
      border-bottom: 2px solid $primary;
    }
  }
}