.product-details-container {
  margin-bottom: 60px;

  .product-image-and-text-container {
    display: flex;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 30px;

    img {
      max-height: 250px;
      margin-right: 30px;
    }

    .product-text-container {
      display: flex;
      flex-direction: column;
      min-width: 250px;

      h2 {
        font-size: 50px;
        line-height: 50px;
        padding-bottom: 15px;
        border-bottom: 2px solid $primary;
      }

      p {
        margin-top: 15px;
      }

      .product-text-title {
        font-weight: bold;
      }

      .product-add-to-cart-button {
        padding: 20px;
        width: 100%;
        border: none;
        background-color: $secondary;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        border-bottom: 2px solid $primary;
        cursor: pointer;
        max-width: 250px;
        margin-top: 15px;

        &:hover {
          background-color: $primary;
        }
      }
    }
  }

  // Mobile responsiveness
  @media (max-width: 568px) {
    .product-image-and-text-container {
      flex-direction: column;

      img {
        width: 100%;
        max-height: unset;
        margin: 0 0 20px;
      }
    }
  }
}

