
<partial name="_Hero" />
<partial name="_SearchBar" />

<!-- Product details page -->
<div class="auth-form-container">
    <form method="POST">
        <h2>LOGIN</h2>

        <label for="username">
            Username
            <input type="text" name="username" id="username">
        </label>

        <label for="password">
            Password
            <input type="password" name="password" id="password">
        </label>

        <div class="login-helpful-links-container">
            <p>Forgotten password? <a asp-controller="Users" asp-action="ResetPassword">Reset!</a></p>
            <p>Don't have an account? <a asp-controller="Users" asp-action="RegisterUser">Register!</a></p>
        </div>

        <button type="submit">LOGIN</button>
    </form>
</div>
