@using ShishaProject.Web.ViewModels.User;
@model LoginInputModel

@{
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}
<partial name="_Hero" />
<partial name="_SearchBar" />

<!-- Product details page -->
<div class="auth-form-container">
    <form asp-controller="Users" asp-action="LoginUser">
        <h2>LOGIN</h2>

        <label for="username">
            <p>
                Username
                <span>A long error message.</span>
            </p>
            <input type="text" asp-for="@Model.UsernameOrEmail">
        </label>

        <label for="password">
            <p>
                Password
                <span>Error is placed here</span>
            </p>
            <input type="password" asp-for="@Model.Password">
        </label>

        <div class="login-helpful-links-container">
            <p>Forgotten password?  <a asp-controller="Users" asp-action="ResetPassword">Reset!</a></p>
            <p>Don't have an account? <a asp-controller="Users" asp-action="RegisterUser">Register!</a></p>
        </div>

        <button type="submit" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">LOGIN</button>
    </form>
</div>
