
<partial name="Hero" />

<partial name="_SearchBar" />

<!-- Product details page -->
<div class="auth-form-container">
    <form method="POST">
        <h2>REGISTER</h2>

        <label for="email">
            E-mail
            <input type="email" name="email" id="email">
        </label>

        <label for="username">
            Username
            <input type="text" name="username" id="username">
        </label>

        <label for="password">
            Password
            <input type="password" name="password" id="password">
        </label>

        <label for="repassword">
            Repeat Password
            <input type="password" name="repassword" id="repassword">
        </label>

        <label for="phone">
            Phone
            <input type="tel" name="phone" id="phone">
        </label>

        <label for="address">
            Address
            <input type="text" name="address" id="address">
        </label>

        <div class="login-helpful-links-container login-helpful-links-container-one">
            <p>Have an account? <a href="./login.html">Login!</a></p>
        </div>

        <button type="submit">REGISTER</button>
    </form>
</div>