

<partial name="_Hero" />

<partial name="_SearchBar" />

<!-- Product details page -->
<div class="auth-form-container">
    <form method="POST">
        <h2>RESET</h2>

        <label for="email">
            E-mail
            <input type="email" name="email" id="email">
        </label>

        <div class="login-helpful-links-container">
            <p>Remember your password? 
            <a asp-controller="Users" asp-action="LoginUser">Login!</a></p>
            <p>Don't have an account? 
            <a asp-controller="Users" asp-action="RegisterUser">Register!</a></p>
        </div>

        <button type="submit">RESET</button>
    </form>
</div>


