<footer>
    <div class="footer-top">
        <div class="column">
            <p>Title Name</p>

            <ul>
                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>
            </ul>
        </div>

        <div class="column">
            <p>Title Name</p>

            <ul>
                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>
            </ul>
        </div>

        <div class="column">
            <p>Title Name</p>

            <ul>
                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>
            </ul>
        </div>

        <div class="column">
            <p>Title Name</p>

            <ul>
                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>
            </ul>
        </div>

        <div class="column">
            <p>Title Name</p>

            <ul>
                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>

                <li>
                    <a href="#">Link Name</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="logo-footer-container">
            <a href="/">
                <img src="./assets/images/logo_footer.webp" alt="">
            </a>
        </div>

        <p>ShishaDealerZ &copy; 2021 All rights reserved.</p>

        <div class="social-icons-container">
            <a href="https://www.facebook.com/">
                <img src="~/icons/facebook.svg" alt="Facebook">
                <img src="~/icons/facebook-hover.svg" alt="Facebook">
            </a>

            <a href="https://www.instagram.com/">
                <img src="~/icons/instagram.svg" alt="Instagram">
                <img src="~/icons/instagram-hover.svg" alt="Instagram">
            </a>

            <a href="https://www.tiktok.com/">
                <img src="~/icons/tiktok.svg" alt="Tik Tok">
                <img src="~/icons/tiktok-hover.svg" alt="Tik Tok">
            </a>
        </div>
    </div>
</footer>