@using ShishaProject.Web.ViewModels.Shared

@*@model LayoutViewModel*@
<header>
    <nav>
        <div class="mobile-navigation">
            <a href="/">
                <img src="./assets/images/logo.png" alt="">
            </a>

            <button id="menu-icon">
                <img src="~/icons/menu.svg" alt="Open Menu">
            </button>
        </div>

        <ul id="main-menu">
            <li class="">
                <a href="/">Home</a>
            </li>

            <li>
                <a asp-controller="Products" asp-action="Index">Shop</a>
            </li>

            <li class="logo">
                <a href="/">
                    <img src="./assets/images/logo.png" alt="">
                </a>
            </li>

            <li>
                <a href="/about-us">About Us</a>
            </li>

            <li>
                <a href="/contact-us">Contact Us</a>
            </li>

            <li>
                <partial name="_Culture" />
            </li>
        </ul>
    </nav>

    <div class="menu-right-container">
        <a asp-controller="Users" asp-action="LoginUser">
            <div class="user-icon-container">
                <img src="~/icons/user.svg" alt="">
                <img src="~/icons/user-hover.svg" alt="">
            </div>
        </a>

        <a asp-controller="Cart" asp-action="Index" class="cart-section-container">
            <div class="cart-icon-container">
                <img src="~/icons/cart.svg" alt="">
                <img src="~/icons/cart-hover.svg" alt="">
                <span>Cart :</span>
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <span class="cart-item-container">
                    @{
                        ViewData["ItemsInCart"]?.ToString();
                    } items in cart
                </span>
            }

        </a>
    </div>
</header>