<header>
    <nav>
        <div class="mobile-navigation">
            <a href="/">
                <img src="./assets/images/logo.png" alt="">
            </a>

            <button id="menu-icon">
                <img src="./assets/icons/menu.svg" alt="Open Menu">
            </button>
        </div>

        <ul id="main-menu">
            <li class="active">
                <a href="/">Home</a>
            </li>

            <li>
                <a href="./pages/shop.html">Shop</a>
            </li>

            <li class="logo">
                <a href="/">
                    <img src="./assets/images/logo.png" alt="">
                </a>
            </li>

            <li>
                <a href="/about-us">About Us</a>
            </li>

            <li>
                <a href="/contact-us">Contact Us</a>
            </li>
        </ul>
    </nav>

    <a href="/cart" class="cart-section-container">
        <div class="cart-icon-container">
            <img src="./assets/icons/cart.svg" alt="">
            <img src="./assets/icons/cart-hover.svg" alt="">
            <span>Cart :</span>
        </div>

        <span class="cart-item-container">
            0 items
        </span>
    </a>
</header>