<!-- Pagination -->
<div class="pagination">
    <button type="button" class="button-previous">Previous</button>
    <button type="button" class="active">1</button>
    <button type="button">2</button>
    <button type="button">3</button>
    <button type="button">4</button>
    <button type="button">5</button>
    <button type="button">6</button>
    <button type="button">7</button>
    <button type="button">8</button>
    <button type="button">9</button>
    <button type="button">10</button>
    <button type="button" class="button-next">Next</button>
</div>