@using ShishaProject.Services.Data.Models.Pagination

@model PaginationData

<div class="pagination">
    <button type="button" class="button-previous">Previous</button>
    @foreach (var currentPage in Model.Pages)
    {
        <button type="button" class="active">@currentPage</button>
    }

    <button type="button" class="button-next">Next</button>
</div>