<div class="search-bar">
    <form>
        <input type="text" id="search-bar-field" placeholder="Search for whatever you like . . .">
        <button type="button" id="search-bar-btn">
            <img src="~/icons/search.svg" alt="Search" />
        </button>
    </form>
</div>