    <!-- Home section - used only on the home page -->
<div class="home-section">
    <div class="text-container">
        <h1>Welcome to our site</h1>
        <p>We offer various stuff.</p>
        <a href="/pages/shop.html">VIEW SHOP</a>
    </div>
</div>

<!-- Search bar - present on every page -->
<div class="search-bar">
    <form>
        <input type="text" id="search-bar-field" placeholder="Search for whatever you like . . .">
        <button type="button" id="search-bar-btn">
            <img src="./assets/icons/search.svg" alt="Search">
        </button>
    </form>
</div>

<!-- Temporary - delete later maybe -->
<div class="action-section">
    <h2>Come on in and get your hookah!</h2>

    <hr>

    <p>
        Our customers enjoy complimentary Moroccan Mint Tea and water with their hookah. With nearly 100 flavors of
        shisha to chose from, our customers never run out of options.
    </p>

    <a href="#">Hookah Flavors</a>
</div>