<div class="filter-left-container">
    <h3>Filter by brand</h3>

    <ul>
        <li>
            <label for="filter-brand-1">
                <input type="checkbox" name="filter-brand" id="filter-brand-1">
                <span class="checkmark"></span>
                Adidas
            </label>
        </li>

        <li>
            <label for="filter-brand-2">
                <input type="checkbox" name="filter-brand" id="filter-brand-2">
                <span class="checkmark"></span>
                Nike
            </label>
        </li>

        <li>
            <label for="filter-brand-3">
                <input type="checkbox" name="filter-brand" id="filter-brand-3">
                <span class="checkmark"></span>
                Puma
            </label>
        </li>

        <li>
            <label for="filter-brand-4">
                <input type="checkbox" name="filter-brand" id="filter-brand-4">
                <span class="checkmark"></span>
                100 kila
            </label>
        </li>
    </ul>
</div>