<div class="filter-left-container">
    <h3>Filter by category</h3>

    <ul>
        <li>
            <label for="changeme">
                <input type="checkbox" name="changeme" id="changeme">
                <span class="checkmark"></span>
                Maybe have this category
            </label>
        </li>
    </ul>
</div>