<div class="filter-left-container">
    <h3>Filter by flavor</h3>

    <ul>
        <li>
            <label for="filter-flavor-1">
                <input type="checkbox" name="filter-flavor" id="filter-flavor-1">
                <span class="checkmark"></span>
                Melon
            </label>
        </li>

        <li>
            <label for="filter-flavor-2">
                <input type="checkbox" name="filter-flavor" id="filter-flavor-2">
                <span class="checkmark"></span>
                Brick
            </label>
        </li>

        <li>
            <label for="filter-flavor-3">
                <input type="checkbox" name="filter-flavor" id="filter-flavor-3">
                <span class="checkmark"></span>
                Chicken
            </label>
        </li>

        <li>
            <label for="filter-flavor-4">
                <input type="checkbox" name="filter-flavor" id="filter-flavor-4">
                <span class="checkmark"></span>
                Dust
            </label>
        </li>
    </ul>
</div>