<div class="filter-left-container">
    <h3>Filter by packaging</h3>

    <ul>
        <li>
            <label for="filter-packaging-1">
                <input type="checkbox" name="filter-packaging" id="filter-packaging-1">
                <span class="checkmark"></span>
                20 pcs
            </label>
        </li>

        <li>
            <label for="filter-packaging-2">
                <input type="checkbox" name="filter-packaging" id="filter-packaging-2">
                <span class="checkmark"></span>
                40 pcs
            </label>
        </li>

        <li>
            <label for="filter-packaging-3">
                <input type="checkbox" name="filter-packaging" id="filter-packaging-3">
                <span class="checkmark"></span>
                1.00 kg
            </label>
        </li>

        <li>
            <label for="filter-packaging-4">
                <input type="checkbox" name="filter-packaging" id="filter-packaging-4">
                <span class="checkmark"></span>
                100 kg
            </label>
        </li>
    </ul>
</div>