<div class="filter-left-container">
    <h3>Filter by price</h3>

    <ul>
        <li>
            <label for="filter-price-1">
                <input type="checkbox" name="filter-price" id="filter-price-1">
                <span class="checkmark"></span>
                0 - 50
            </label>
        </li>

        <li>
            <label for="filter-price-2">
                <input type="checkbox" name="filter-price" id="filter-price-2">
                <span class="checkmark"></span>
                51 - 100
            </label>
        </li>

        <li>
            <label for="filter-price-3">
                <input type="checkbox" name="filter-price" id="filter-price-3">
                <span class="checkmark"></span>
                101 - 150
            </label>
        </li>

        <li>
            <label for="filter-price-4">
                <input type="checkbox" name="filter-price" id="filter-price-4">
                <span class="checkmark"></span>
                151 - 200
            </label>
        </li>

        <li>
            <label for="filter-price-5">
                <input type="checkbox" name="filter-price" id="filter-price-5">
                over 200
                <span class="checkmark"></span>
            </label>
        </li>
    </ul>
</div>