<div class="filters-top">
    <h2>Products</h2>

    <div class="filters-select">
        <span>Sort: </span>

        <select name="sort" id="sort">
            <!-- FOR EACH THIS - START -->
            <option value="0" selected>Price - Lowest</option>
            <option value="1">Price - Highest</option>
            <option value="2">Name - A-Z</option>
            <option value="3">Name - Z-A</option>
            <option value="4">Brand - A-Z</option>
            <option value="5">Brand - Z-A</option>
            <!-- FOR EACH THIS - END -->
        </select>
    </div>
</div>