<div class="filter-left-container">
    <h3>Filter by stock</h3>

    <ul>
        <li>
            <label for="filter-stock-1">
                <input type="checkbox" name="filter-stock" id="filter-stock-1" value="in-stock">
                <span class="checkmark"></span>
                In stock
            </label>
        </li>

        <li>
            <label for="filter-stock-3">
                <input type="checkbox" name="filter-stock" id="filter-stock-3" value="out-of-stock">
                <span class="checkmark"></span>
                Out of stock
            </label>
        </li>
    </ul>
</div>